
 /*  ----------------------------  seccion Banda ----------------------------    */





.parrafoBanda{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color:whitesmoke;
    line-height: 190%;
    border: solid 1px #F2E416;   
}
.cuerpoBanda{
    display: flex;
    justify-content: space-around;
    margin: 10px;   
}
.columna1{
    width: 30%;
    height: auto;
    display: grid;
    
    padding: 0px 20px;
    column-gap: 10px;  
    row-gap: 10px;
    grid-template-columns: auto auto;          
    grid-template-areas: "foto1 foto1"
                         "foto2 foto3"
                         "foto2 foto4"
                         "foto5 foto6"
                         "foto7 foto6";
}
.columna2{
    width: 40%;
    padding: 20px;
    margin: 0 10px;     
}
.columna3{
    width: 30%;
    display: grid;
    height: auto;
    padding: 0px 20px;
    column-gap: 10px;  
    row-gap: 10px;           
    grid-template-areas:"foto8 foto8"
                        "foto9 foto10"
                        "foto11 foto10"
                        "foto12 foto13"
                        "foto12 foto14";
}
.fotoBanda{
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    filter: grayscale();
    transition: transform 0.5s;

}
.fotoBanda:hover{
    filter: none;
    transform:scale(1.2);
    z-index: 2;
    
}
.foto1{
    grid-area: "foto1";
    grid-row: 1;
    grid-column: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    background-image: url(vektor/vektor.jpg);
   
   
}
.foto2{
    grid-area: "foto2";
    background-image: url(vektor/david\ disanto.jpg);
    
    grid-row:2;
    grid-row-start:2 ;
    grid-row-end:4 ;
    

}
.foto3{
    grid-area: "foto3";
    background-image: url(vektor/david\ disanto\ 5.jpg);
    
   
}   
.foto4{
    grid-area: "foto4";
    background-image: url(vektor/david\ disanto\ 6.jpg);
    
}
.foto5{
    grid-area: "foto5";
    background-image: url(vektor/blake\ anderson.jpg);
    

}
.foto6{
    grid-area: "foto6";
    background-image: url(vektor/blake\ anderson\ 5.jpg);
    grid-row: 4/ 6 ;
    grid-column: 2/3;
  } 
.foto7{
    grid-area: "foto7";
    background-image: url(vektor/blake\ anderson\ 4.jpg);    
}
.foto8{
    grid-area:"foto8";
    background-image: url(vektor/vektor\ 9.jpg);
    grid-column: 1/3;
}
.foto9{
    grid-area: "foto9";
    background-image: url(vektor/erik\ nelson\ 2.jpg);
}
.foto10{
    grid-area: "foto10";
    background-image: url(vektor/erik\ nelson.jpg);
    grid-row:2/4;
    grid-column:2/3 ;
}
.foto11{
    grid-area: "foto11";
    background-image: url(vektor/erik\ nelson\ 3.jpg);
}
.foto12{
    grid-area: "foto12";
    background-image: url(vektor/frank\ chin.jpg);
    grid-row:4/6;
}
.foto13{
    grid-area: "foto13";
    background-image: url(vektor/frank\ chin\ 2.jpg);
}
.foto14{
    grid-area: "foto14";
    background-image: url(vektor/frank\ chin\ 3.jpg);
}
resaltar{
    color:#F2E416 ;
}
  


#carouselBanda .carousel-item img{
    max-width: 90%;
    height: 700px;
    margin: 20px auto;

}
.modal  .modal-content{
    background-color: #000000;
    color:#F2E416 ;
}
.modal .carousel-item img{
    max-width: 100%;
    height: 500px;
}

.parrafoBanda a:hover{
    text-decoration: none ;
} 