@import url('https://fonts.googleapis.com/css2?family=Antonio&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}




 
/*   ----------------------------      seccion general       ----------------------------  */

::-webkit-scrollbar-track{

    border-radius: 20px;
    background-color: #000000;}
::-webkit-scrollbar{
    width: 15px;
    background-color: rgba(0, 0, 0, 0);
}
::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-image: linear-gradient(to bottom, #FFFE68,#ffff023b,#FFFE68 );
}

::-moz-scrollbar-track{

    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.151);
}
::-moz-scrollbar{
    width: 15px;
    background-color: rgba(0, 0, 0, 0);
}
::-moz-scrollbar-thumb{
    border-radius: 10px;
    background-image: linear-gradient(to bottom, #FFFE68,#ffff023b,#FFFE68 );
}


html{
    scroll-behavior: smooth;
}
@media only screen and (min-width:280px) {
    header{
        width: 100%;
        background-color:black;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        
    }
    }  
@media only screen and (min-width:720px) {
header{
    width: 100%;
    background-image: linear-gradient(to right, black,rgba(0, 0, 0, 0)), url(multimedia/stars-in-night-sky.jpg);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    scroll-behavior: smooth;
}
}
.cuerpo{
    background-color: black;
    color:whitesmoke

  }

.seccionLogo{
    grid-area: "seccionLogo";
}
@media only screen and (min-width:280px) {
    .seccionLogo img{
        height: 180px;
    }
}
@media only screen and (min-width:3750px) {
    .seccionLogo img{
        height: 200px;
    }
}
.seccionRedes{
    border: none;
    padding: 5px;
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    grid-area: "seccionRedes";
}
.seccionRedes a img:hover{
    transform:scale(1.2);
    z-index: 2;
}
@media only screen and (min-width:280px) {
    .ul__li--seleccionNavegacion{
        font-family: 'Antonio', sans-serif;
        font-weight: bold;
        color: #000000;
        background-image: linear-gradient(to right, #FFFE02,#FFFE68,black);
        font-size: 30px;
        display: block;  
    }
}
@media only screen and (min-width:720px) {
    .ul__li--seleccionNavegacion{
    font-family: 'Antonio', sans-serif;
    font-weight: bold;
    color: #000000;
    background-image: linear-gradient(to right, #FFFE02,#FFFE68,black);
    font-size: 30px;
    display: block;  
    animation-name: cambiaTamaño3;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 120s;
}
@keyframes cambiaTamaño3 {

    0%{
        width: 40% ;
    }
    1%{
        width:100%;
    }
    
    100%{
        width: 40% ;
    }  
}
} 
 

.navegacion{
    background-image: linear-gradient(to right, black,rgba(0, 0, 0, 0)), url(multimedia/stars-in-night-sky.jpg);

    .navegacion__ul{
        list-style-type: none;

        .ul__li:hover .ul__li{
            display:grid;
            grid-template-columns: 1fr 1fr 1fr;
        }  
       
        .ul__li {

                .li__item{

                    font-size: 20px;
                    font-family: 'Antonio', sans-serif;
                    color:whitesmoke;
                    list-style-type: none;
                    text-decoration: none;
                    margin-top: 2px;
                    margin-bottom: 2px;
                    display: block;

                    &:hover{
                        color:#FFFE02;
                        text-decoration: none;                      
                    }

                }

                .ul__li{
                        
                    
                                       
                        .ul__li__btn-group{
                                    display: block;

                            
                                                            
                            .li__menu{
                                background-color: black;
                                border: 1px solid #FFFE02;
                                color: #FFFE02;
        
                                .li__menu__item{
                                    font-size: 20px;
                                    font-family: 'Antonio', sans-serif;
                                    color:whitesmoke;
                                    list-style-type: none;
                                    text-decoration: none;
                                    margin-top: 2px;
                                    margin-bottom: 2px;
                                    display: block;                                         
                                }
                                .li__menu__item:hover{
                                    color:black;
                                    text-decoration: none;
                                    background-color: #FFFE02;
                                    font-weight: bold;
                                }

                            }
                        }
    
                   
                          
                }        
            
                .ul__li--botonPaginaPrincipal{
                        
                    display: none;
                    position: absolute;
                    top: 182px;
                    left: 200px;
                    padding: 0px 5px; 
                }
                .ul__li--botonPaginaPrincipal2{
                    display: none;
                    position: absolute;
                    top: 182px;
                    left: 138px;
                    padding: 0px 5px;   
                }


        }
        
        
    }
    
}



/*     ----------------------------     seccion Principal   ----------------------------       */


.portadaSticky{
    display: block;
    position: sticky;
    top: 0;
    z-index: -1;  
    
    &__portadaTerminal{
        position: relative;
    }
    &__degradadoPortada{    
        background-image: linear-gradient(to bottom black, rgba(0, 0, 0, 0), black) ;
        background-image: linear-gradient(black, rgba(0, 0, 0, 0) , rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
        width: 100%;
        height: 721px;
        z-index: 2;
        position: absolute;
        top: 0px;
        }
}
.seccionPrincipal{
    padding-bottom: 30px;
}
section{

    .h2 {   
         background-image: linear-gradient(to right, #FFFE02,#FFFE68,rgba(0, 0, 0, 0));

    }

}

@media only screen and (min-width:720px) {
        .cambiaTamaño1{
            animation-name: cambiaTamaño1;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            animation-duration: 120s;
        }
        @keyframes cambiaTamaño1 {

            0%{
                width: 100% ;
            }
            50%{
                width: 40% ;
            }
            
            100%{
                width: 100% ;
            }  
        }
        .cambiaTamaño2{
            animation-name: cambiaTamaño2;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            animation-duration: 120s;
        }
        @keyframes cambiaTamaño2 {

            0%{
                width: 40% ;
            }
            50%{
                width: 100% ;
            }
            
            100%{
                width: 40% ;
            }  
        }
}
.spanTitulo{
    font-family: 'Antonio', sans-serif;
    text-transform: capitalize;
    background-color:  black;
    color: #F2E416;
    border: 5px solid #000000;
    }
.spanTitulo2{
        font-family: 'Antonio', sans-serif;
        text-transform: capitalize;
        text-decoration: underline;
        background-color:  #F2E416;
        color: #000000;
        padding: 5px 5px;
        
        

    }
.fondoEstrellas{
    background-image: url("multimedia/stars-in-night-sky.jpg");
    background-repeat: repeat;
    background-size: 100% auto;
    }




iframe{
    margin-left: auto;
    margin-right: auto;
}

.ultimoVideoclip{

    .ultimoVideoclip__seccionVideo{
        position: relative;
        padding-bottom: 56.25%; 
        padding-top: 25px;
        height: 0;

        .seccionVideo__videoYoutube{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;     
           
        }
    }
}  

.escucharEnSpotify{

    @media only screen and (min-width:720px) {
        .escucharEnSpotify__listaSpotify{
            display: block;
            margin: 50px auto 50px auto;
            width: 50%;
            min-width: 320px;      
        }
    }
    @media only screen and (min-width:280px) {
        .escucharEnSpotify__listaSpotify{
            display: block;
            margin: 50px auto 50px auto;
            width: 310px;
            min-width: 320px;          
        }
    }
}

.ultimasPublicaciones{
   
    .ultimasPublicaciones__seccionFacebook{
        padding: 20px;

        @media only screen and (min-width:280px) {
            .seccionFacebook__perfilFacebook{
                display: block;
                margin:auto;
                width:100%;
                height:500px;
            }
        }
        @media only screen and (min-width:720px) {
          .seccionFacebook__perfilFacebook{
            display: block;
            margin: auto ;
            width:500px;
            height:500px;
            }
        }
    }
}






/* ---------------------------- sección Discografía  ----------------------------    */

td ol li{
    list-style-position: inside;
    list-style-type: upper-roman;

}
.seccionDiscografia{
    background-image: url(multimedia/stars-in-night-sky.jpg);
    background-repeat: repeat;

    background-size: 100%;
}
.seccionDiscografia td{
    text-align: center;
}
    
th{
    background-color:#000000 ;
    color:#F2E416;
    }
.fontRoboto{
    font-family: 'Roboto Mono', monospace;
}


/* ----------------------------   seccion Tienda   ----------------------------   */





.tienda{
    display: flex;
    width: 100%;
    height: auto;
    padding: 10px 10px;
    flex-wrap: wrap;
    flex-flow: column;
    align-items: center;
    background-image: url(multimedia/stars-in-night-sky.jpg);

    .tienda__articulo{ 
        margin: 5px 5px;
        border: double 5px #F2E416;

        .articulo__imagen {

            width: 400px; 
            
        }
    }
    
}




/*  ----------------------------       seccion Contacto     ----------------------------   */




.formulario{
    font-size: 20px;
    font-family: 'Antonio', sans-serif;
    color:whitesmoke;
    margin:10px;
    text-align: center;

    .formulario__titulo{
        font-style: italic;
        text-decoration-line: underline;
        font-size: 30px;
    }

    .formulario__boton{
        padding: 5px 5px;
        background-color: black;
        color: whitesmoke;
        border: 1px solid #F2E416;
        border-radius: 5px;

        &:hover{
            background-color: #F2E416;
            color: black;
        }
    }
}


/*   ----------------------------     seccion Footer     ----------------------------     */




.footer {
    text-align: center;
    display: block;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.342) 30%, #101C2B , #16264D, #1A3C67), url(multimedia/stars-in-night-sky.jpg);

    &__terminosDeServicio{
        color: #F2E416;
        text-decoration: none;
        font-weight: bold;
        
        &:hover{
            text-decoration: none;
            color: #FFFE68;
        }
    }

    &__redes{
      
        .redes__img:hover{
            transform:scale(1.2);
            z-index: 2;
        }
    }
    
    &__volverArriba{
        color: #F2E416;
        text-decoration: none;
        float: right;
        margin-right: 10px;
        font-family: 'Antonio', sans-serif;
        letter-spacing: 2px;
    }
}










